.stack__input{
    max-width: 377px;
}

.stack__button{
    max-width: 121px;

}

.stack__button:last-child{
    margin-left: 80px;
}

.stack__input-block{
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
}

.stack__circle{
display: grid;
    row-gap: 40px;
    column-gap: 10px;
    grid-template-columns: repeat(10, auto);
    justify-content: center;
    margin-top: 48px;
}